@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Karla:wght@400;700&display=swap');

:root {
  --clr-purple-4: #1c1938;
  --clr-purple-3: #37306b;
  --clr-purple-2: #66347f;
  --clr-purple-1: #9e4784;
  --clr-pink: #d27685;
  --clr-pink-2: #9f5964;

  --font-mono: Consolas, Monospace;
  --font-serif: 'Eagle Lake', sans-serif;
  --font-sans: Karla, Tahoma, Helvetica, sans-serif;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-sans);
}

body {
  background-color: var(--clr-purple-4);
}


code {
  background: var(--clr-purple-2);
  font-family: var(--font-mono);
  color: #fff;
  margin-right: .5rem;
}

code.title-code {
  display: block;
  margin-block: .4rem;
  max-width: fit-content;
  padding: .2rem .3rem;
  border-radius: 2px;
}


section, nav, main, div.or {
  max-width: 900px;
  margin: 0 auto;
  width: 90%;
}

section {
  margin-bottom: 1.4rem;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .7rem 0;
  margin: 0 auto;
  align-items: center;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.nav__links a {
  font-size: 1.2rem;
  color: var(--clr-pink);
}

.main__intro, .how-it-works {
  line-height: 1.5;
  color: var(--clr-purple-2);
  font-size: 1.2rem;
  margin-block: .5rem;
}

.main__intro b, .how-it-works b {
  color: var(--clr-purple-1);
}


h1,h2,h3,h4 {
  color: white;
  font-family: var(--font-serif);
  font-weight: bold;
}

.btn {
  border: none;
  border-radius: 2px;
  background: none;
  font-family: var(--font-sans);
  text-align: center;
}


.btn--disabled {
  opacity: .6;
  pointer-events: none;
  cursor: not-allowed;
}

.btn--txt {
  text-transform: uppercase;
  font-weight: bold;
}

.btn--primary:hover {
  cursor: pointer;
}

.btn--loader-show .btn--txt {
  display: none;
}

.btn--loader-show .btn--loader {
  display: inline-block;
}

.btn--loader {
  height: 60%;
  aspect-ratio: 1;
  display: none;
  border: 2px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn--disabled:hover {
  cursor: not-allowed;
}


.btn--primary {
  background-color: var(--clr-pink);
  color: white;
  transition: all 200ms;
}


.btn--primary:active {
  transform: translateY(5px);
}

.nav__title {
  font-size: clamp(2rem, 10vw, 2.5rem);
  color: white;
  font-family: var(--font-serif);
  font-weight: bold;
  text-decoration: none;
}
h2,h3,h4,h5 {
  color: var(--clr-pink);
}

.content__title {
  font-size: 1.9rem;
}

.content *:focus {
  outline: 1px solid var(--clr-purple-2);
}

.content .area textarea {
  resize: none;
  height: 150px;
  width: 100%;
  background-color: var(--clr-purple-3);
  border: none;
  color: white;
  font-family: var(--font-mono);
  padding: .4rem;
  border-radius: 2px;
}

.content .proceed {
  width: 100%;
  display: flex;
  gap: .5rem;
  padding-block: .5rem;
}

.content textarea::placeholder {
  color: var(--clr-purple-1);
}


.content .proceed select {
  background-color: var(--clr-purple-3);
  border: none;
  padding: .5rem;
  border-radius: 2px;
  color: white
}

.content .proceed > * {
  flex: 50%;
}

.content .output-hash {
  margin-block: .5rem;
}

.content .output-hash ul {
  width: 100%;
  list-style: none;
}


.content .output-hash ul li {
  padding: .5rem .3rem;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 2px;
  font-size: .9rem;
  width: 100%;
  gap: .5rem;
}


.content .output-hash ul li .input {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-bottom: .2rem;
}

.output-hash .btn--primary {
  height: 30px;
}

.content .output-hash ul li .output {
  word-wrap: break-word;
  display: block;
}

.content .output-hash ul li code {
  background-color: var(--clr-purple-2);
  font-family: var(--font-mono);
  padding: .1rem;
  word-break: break-word;
}

.content .output-hash ul i {
  color: var(--clr-purple-2);
  margin-block: 1rem;
  display: block;
}

.content .output-hash ul li:nth-child(2n) {
  background-color: var(--clr-purple-3);
}

.or {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-block: 1.2rem;
  width: 90%;
}

.or span {
  height: 1px;
  background-color: var(--clr-pink);
  display: block;
  width:  100%;
}

.section-crack {
  margin-bottom: 2rem;
}

@media screen and (min-width: 650px) {
  .navbar {
    flex-direction: row;
  }

  .content .output-hash ul li {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .output-hash .btn--primary {
    padding: .5rem;
    height: 100%;
  }

  .content .area {
    flex-direction: row;
  }

  .content .area > * {
    flex: 50%;
  }

}
